
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
background-image: linear-gradient(180deg, #000000 , transparent);
}
.navbar-brand{
    font-size: 2rem;
    color: white;
    &:hover{
        color: white;
    }
}
.nav-link{
    margin-right: 10px;
    margin-left: 10;
    color: white;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    &:hover{
        text-decoration-line: underline;
        color: #69009E;
        transition: 0.8s;
    }
    
}
.todovioleta{}
.main-image{
    background: url(/images/9z.png)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50%;
    width: 100%;
}
h1{
    font-weight: 700;
    color: white;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(83, 83, 83);
    color: white;
    font-weight: 700;
    border-radius: 60px;
    &:hover{
        background-color: #69009E;
        transition: 0.7s;
    }
}
.product{
    background-color: black;
}

.videos{
  background-color: black;
}

.tienda_productos{
    background-image: url(/images/BodyBackground.jpg);
    input{
        background-color: white;
        color: black;
        position: absolute;
        height: 45px;
        width: 110px;
        border-radius: 7px;
        outline: none;
        border: black;
        text-align: center;
        top: 55%;
        left: 30%;
        opacity: 0;
        &:hover{
            background-image: linear-gradient(to right, #69009E, rgb(75, 2, 75));
            color: white;
            transition: 1s;
        }
    }
    .card{
        border: none;
        border-radius: 5px;
        &:hover input{
            opacity: 1;
            transition: 0.7s;
        }
        span{
            color: red;
            font-size: 17px;
            font-weight: 800;
            padding-left: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h5{
            font-size: 19px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            padding-left: 5px;
        }
    }
}
