*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/background2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 93%;
}
nav ul span{
  color: #8307b0;
  text-align: right;
  padding: 2% 2%;
  font-size: 18px;
}
nav{
  display: flex;
  padding: 1% 2%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 60px;
}
.nav_links{
  flex: 1;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
}
.nav_links ul li{
  list-style: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav_links ul li a{
  color: white;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.nav_links ul li::after{
  content: "";
  width: 0%;
  height: 2px;
  background: #8307b0;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav_links ul li:hover::after{
  width: 100%;
}
.header_text h1{
  padding: 20 20;
  text-align: center;
  color: aliceblue;
  font-family: 'Bebas Neue', cursive;
  font-size: 40px
}