*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    color: white;
    &:hover{
        color: white;
    }
}
.nav-link{
    margin-right: 10px;
    margin-left: 10;
    color: white;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    &:hover{
        text-decoration-line: underline;
        color: rgb(126, 0, 199);
        transition: 0.8s;
    }
    
}

.main-image{
    background: url(/images/9z.png)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50%;
    width: 100%;
}
h1{
    font-weight: 700;
    color: white;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(83, 83, 83);
    color: white;
    font-weight: 700;
    border-radius: 60px;
    &:hover{
        background-color: rgb(82, 0, 129);
        transition: 0.7s;
    }
}
.product{
    background-color: black;
}

.videos{
  background-color: black;
  .video-container{
    display: grid;
    iframe{
      max-width: 660px;
    }
  }
}
